.jumbotron {
  background-color:#3385ff;
}
body{
  background-color:#cce6ff ;
}
.pic{
  padding-top:10px;height:350px;color: #fff; background-color: #1E88E5;
  background-image: url("https://cdn.cloudpix.co/images/sunny/free-scenery-wallpaper-shows-sunny-springtime-keep-spring-all-around-weather-ecd1c4fb310b1fe4fe030a3fe948ba0d-large-1173929.jpg");
}